*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        /* background: rgba(138, 138, 138, 0.1);
        display: flex;
        flex-flow: column nowrap; */
        background: url(../imagenes/Activitat_Flex-Nivell_2-fons_capçalera.jpg);
        background-position: 25% 75%;
        background-attachment: fixed;
        background-size: cover;        
    }
        .menu{
            /* background: rgba(207, 207, 207, 0.1); */
            display: flex;
            flex-flow: row nowrap;
            height: 70px;
            align-items: center;
        }
            .logo{
                width: min-content;
                flex: 0 0 auto;                                                                                         
            }                
                .logo img{
                    max-height: 200%;
                    min-height:20%;
                    width:200%;                   
                }
                .logo img:hover{
                    color: #343434;
                }
            .nav{                
                flex: 1 1 auto;                               
                padding: 0 10px; 
                text-align: center;
                margin-right: 10px;
                margin-left: 60px;                                                                      
            }
                .nav a{
                    color: #7882A4;
                    font-size: 13px;
                    font-weight:bolder;                    
                }
                .nav a:hover{
                    color: #343434;
                }
            .social{
                width: min-content;                
                flex: 0 0 auto; 
                display: flex;                               
            }
                .social a{
                    color: #7882A4;
                    padding: 0 0px;
                }
                .social a:hover{
                    color: #343434;
                }
        .texto-principal{            
            display: flex;
            flex-flow: column nowrap;
            height: 250px;                   
        }
            h1{                
                font-family: 'lora', serif;
                font-size: 25px;
                color: rgb(255, 127, 80, 0.6);
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                margin-top: 130px;
                margin-right: 40px;
                margin-left: 40px;                
                background-color: rgb(169, 169, 169, 0.4);                                               
            }
            h2{
                margin-right: 40px;
                margin-left: 40px;                
                background-color: rgb(169, 169, 169, 0.4);
            }  
            h3{
                margin-right: 40px;
                margin-left: 40px;                
                background-color: rgb(169, 169, 169, 0.4);
            }                    
    .section{
        background: #FFFA4D;
        display: flex;
    }
        .articulos{
            background: #533E85;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #5D8BF4;
                flex: 1 1 40%;
            }
            .navegacion{
                background: #9ADCFF;
                flex: 1 1 100%;
            }
    .aside{
        background: #FF1818;
        flex: 1 1 auto;
    }
        .publicidad{
            background: #FFF89A;
        }
    .footer{
        background: #000;
        justify-content: center;
    }
        .pie{
            background: #FFD365;
            text-align: center;
        }

    @media all and (max-width: 800px){
        .section{
            flex-direction: column;
        }
    }

    @media all and (max-width: 480px){
        .menu{            
            flex-direction: column;
            height: auto; 
            align-items: stretch;           
        }
        .section{
            flex-direction: column;
        }
            .aside{
            background: #FF6B6B;
            }
            .publicidad{
            background: #FFBC80;
            }
    }
